{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  Password Reset
{% endblock %}

{% block content %}

  <div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center text-secondary mb-3">Reset Password</h2>

        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <ul>
                {% for non_field_error in form.non_field_errors %}
                  <li class="text-danger">{{ non_field_error }}</li>
                {% endfor %}
              </ul>
              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
              {% endfor %}

              <div class="form-floating mb-3">
                {% render_field form.email|add_class:'form-control'|attr:'placeholder:{form.email.label}' %}
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                <small class="text-secondary">A link to reset the password will be sent to this email</small>
              </div>

              <div>
                <button type="submit" class="btn btn-info text-white">Send Email</button>
              </div>

            </div>
          </div>


        </form>
      </div>
    </div>
  </div>


{% endblock %}