{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  Email sent
{% endblock %}

{% block content %}
  <div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h4 class="text-secondary text-center">We have emailed you the instructions to reset the password</h4>
        <p class="text-center">If you have not received the email, please make sure you have entered the email that you have registered
          with.</p>
      </div>
    </div>
  </div>
{% endblock %}